In [1]:
from langchain.chat_models import ChatOpenAI

In [28]:
 client = ChatOpenAI(
            openai_api_base="http://localhost:8001/v1",
            openai_api_key = "-"
        )

In [10]:
from langchain.prompts.prompt import PromptTemplate

In [11]:
from langchain.sql_database import SQLDatabase

In [14]:
db_path="postgresql://postgres:deneme@localhost:5432/postgres"
db=SQLDatabase.from_uri(database_uri=db_path)

In [15]:
db.get_table_names()

c:\Users\omeryentur\Desktop\deneme\agent\.venv\Lib\site-packages\langchain_core\_api\deprecation.py:119: LangChainDeprecationWarning: The method `SQLDatabase.get_table_names` was deprecated in langchain-community 0.0.1 and will be removed in 0.3.0. Use get_usable_table_names instead.
  warn_deprecated(

['denemetable']

In [18]:
db._sample_rows_in_table_info=0

In [20]:
table_info=db.get_table_info()

In [23]:
template="""
<|system|>
{table_info}

<|user|>
{question}
<|sql|>
"""

In [21]:
from langchain.schema import HumanMessage

In [26]:
question="list the 3 most active users"

prompt=PromptTemplate.from_template(template)

In [33]:
res=client(messages=[HumanMessage(content=prompt.format(table_info=table_info,question=question))],extra_body={"stop":['<|endoftext|>'],"cache_prompt":True})

In [34]:
sql_query=res.content

In [35]:
sql_query

'SELECT "user_name" FROM "denemetable" GROUP BY "user_name" ORDER BY COUNT(*) LIMIT 3\n'

In [36]:
db.run(sql_query)

"[('DCMISTHI',), ('ALEKSANDRA12',), ('ANSCHEMI',)]"

In [ ]:
prompt2="""<|user|>Convert the given SQL output into a human-readable format.\nGive short answers. Just write the answer\nRequired for the answer:{sql_output}\nQuestion:{query}|end|>\n<|assistant|>"""
print(prompt2)