In [ ]:
!wget https://huggingface.co/omeryentur/phi-3-sql/resolve/main/phi-3-sql.Q4_K_M.gguf

In [ ]:
!pip install --upgrade --quiet  transformers --quiet

In [ ]:
from langchain_community.llms import LlamaCpp

In [ ]:
client=LlamaCpp(model_path="/content/phi-3-sql.Q4_K_M.gguf")

In [ ]:
from langchain.prompts.prompt import PromptTemplate

In [ ]:
from langchain.sql_database import SQLDatabase

In [ ]:
db_path="sqlite:///example.db"
db=SQLDatabase.from_uri(database_uri=db_path)

In [ ]:
db.get_table_names()

/usr/local/lib/python3.10/dist-packages/langchain_core/_api/deprecation.py:139: LangChainDeprecationWarning: The method `SQLDatabase.get_table_names` was deprecated in langchain-community 0.0.1 and will be removed in 0.3.0. Use get_usable_table_names instead.
  warn_deprecated(

['courses', 'students']

In [ ]:
db._sample_rows_in_table_info=0

In [ ]:
table_info=db.get_table_info()
table_info

'\nCREATE TABLE courses (\n\tid INTEGER, \n\tname TEXT NOT NULL, \n\tdescription TEXT, \n\tPRIMARY KEY (id)\n)\n\n\nCREATE TABLE students (\n\tid INTEGER, \n\tname TEXT NOT NULL, \n\tage INTEGER NOT NULL, \n\tPRIMARY KEY (id)\n)'

In [ ]:
template="""
<|system|>
{table_info}

<|user|>
{question}
<|sql|>
"""

In [ ]:
from langchain.schema import HumanMessage

In [ ]:
question="Courses containing Introduction"

prompt=PromptTemplate.from_template(template)

In [ ]:
res=client(prompt.format(table_info=table_info,question=question))

In [ ]:
sql_query=res
sql_query

'SELECT * FROM "courses" WHERE "description" LIKE \'%Introduction%\'\n'

In [ ]:
db.run(sql_query)

"[(2, 'Physics', 'Introduction to Physics'), (4, 'Biology', 'Introduction to Biology'), (6, 'Geography', 'Introduction to Geography'), (9, 'Computer Science', 'Introduction to Computer Science')]"